body{
    font-family: 'Google Sans', cursive;
    transition: all 0.5s ease;        
}

header{
    width:100%;
}

p.post{
    font-family: 'Google Sans',serif;
    line-height: 30px;
    margin-bottom: 20px;
    font-size: 18px;
}

.figure-caption {
    padding: .75rem;
    background-color: #e1e1e1;
    color:#000;
}


a.footer-link{
    color:#7b7b7b!important;
    text-decoration: none;
}
a.footer-link:hover{
    color:#fff!important;
    
}

.footer-top{
    justify-content: center;
    display: flex;
    width: 100%;
    background-color: #131313;
    padding: 1rem;
}

.footer-item{
    padding: 0 16px;
}

.copyright{
    width: 100%; 
    background-color: #1e1e1e;
    padding: 18px 0 40px 0;
    color:#494949;
    justify-content: center;
    display: flex;
    border-top: 1px solid #1f1f1f;
}

.hr-mid {
    width: 6%;
    margin-left: auto;
    margin-right: auto;
}